{% extends "!page.html" %}

{% block extrahead %}
{{ super() }}

<!-- Google Scholar metadata -->
<meta name="citation_title" content="Human Control of a Bicycle"/>
<meta name="citation_author" content="Moore, Jason Keith"/>
<meta name="resource_type" content="Dissertation"/>
<meta name="citation_dissertation_institution" content="University of California, Davis"/>
<meta name="citation_publication_date" content="2012/08/21"/>
<meta name="citation_pdf_url" content="http://mae.ucdavis.edu/~biosport/jkm/dissertation/HumanControlofaBicycle.pdf"\>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15966419-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endblock %}

{% block body %}
{{ super() }}
<!--
<script type="text/javascript">
	var disqus_developer = 1;
</script>
-->
<h2>Comments</h2>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread]
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://jkm-dissertation.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a
		href="http://disqus.com/?ref_noscript=jkm-dissertation">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

{% endblock %}
{% block footer %}
{{ super() }}
<script type="text/javascript">
var disqus_shortname = 'jkm-dissertation';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/jkm-dissertation/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>

<div align="center">
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
	<img
	alt="Creative Commons License" style="border-width:0"
	src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
</a>
<br />
This work is licensed under a <a rel="license"
href="http://creativecommons.org/licenses/by/3.0/">Creative Commons
Attribution 3.0 Unported License</a>
</div>

{% endblock %}
